.components-button.components-autocomplete__result.block-editor-autocompleters__block.is-selected {
  color: #fff;
  .video-testimonial-icon {
    fill: #fff !important;
    stroke: #fff !important;
  }
}

.vpb-video-testimonial-editor-preview {
  min-height: 240px;
}
