.components-button.components-autocomplete__result.block-editor-autocompleters__block.is-selected {
  color: #fff;
  .video-comparison-icon {
    fill: #fff !important;
    stroke: #fff !important;
  }
}

.vpb-video-comparison-editor-preview {
  min-height: 220px;
}
