// Dashicon
.dashicons {
  font-family: dashicons !important;
}

// Video Player
.wp-block-vpb-vidstack-video-player {
  * {
    box-sizing: border-box;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  [data-media-provider] {
    width: 100%;
    height: 100%;
  }

  .vds-youtube {
    width: 100%;
    height: 100%;
  }
}
