
.components-button.components-autocomplete__result.block-editor-autocompleters__block.is-selected {
  color: #fff;
  .videojs-player-icon {
    fill: #fff !important;
    stroke: #fff !important;
  }
}